<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>vai_monstro</string>
	<string>festa_ape</string>
	<string>danone</string>
	<string>morando_so</string>
	<string>cura_ressaca</string>
	<string>olimpiadas</string>
	<string>vegano</string>
	<string>romantica</string>
</array>
</plist>
